@model List<portfolyo2.Models.tbl_about>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>About ID</th>
                <th>Image URL</th>
                <th>Title</th>
                <th>Birthday</th>
                <th>Website</th>
                <th>Phone</th>
                <th>City</th>
                <th>Age</th>
                <th>Email</th>
                <th>Freelance</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Degree</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AboutID</td>
                    <td><img src="@item.ImageURL" style="width:50px" /></td>
                    <td>@item.Tittle</td>
                    <td>@item.BirthDay</td>
                    <td>@item.WebSite</td>
                    <td>@item.Phone</td>
                    <td>@item.City</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Freelance</td>
                    <td>@item.Description1</td>
                    <td>@item.Description2</td>
                    <td>@item.Degree</td>
                    <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/About/RemoveAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
                </tr>
            }



        </tbody>
    </table>
    <a href="/About/CreateAbout/" class="btn btn-secondary">Oluştur</a>
</div>