﻿@model List<portfolyo2.Models.tbl_services>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Services ID</th>
                <th>Description</th>
                <th>Title</th>
                <th>Icon Url</th>
                <th>Description2</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServiceID</td>
                    <td>@item.Description</td>
                    <td>@item.tittle</td>
                    <td><img src="@item.Icon" style="width:50px" /></td>
                    <td>@item.description2</td>

                    <td><a href="/Hizmetler/UpdateServices/@item.ServiceID" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Hizmetler/RemoveServices/@item.ServiceID" class="btn btn-danger">Sil</a></td>
                </tr>
            }


        </tbody>
    </table>
    <a href="/Hizmetler/CreateServices/" class="btn btn-secondary">Oluştur</a>
</div>